.container {
  flex-wrap: wrap;
}

.bg-color {
  color: rgb(8, 148, 101);
}

.wlcm article:nth-of-type(1),
.wlcm article:nth-of-type(4) {
  background-color: rgb(6, 56, 39);
  color: #fff;
}

.bd {
  border-style: solid;
  border-width: 3px;
  border-color: rgb(8, 148, 101);
  color: rgb(8, 148, 101);
}

.menu:hover,
.link:active,
.btn:hover {
  transition: color 0.15s ease-in;
  color: #fff;
  background-color: rgb(8, 148, 101);
}

.sign {
  background-color: rgb(8, 148, 101);
  color: #fff;
}

.bg {
  background-color: #fff;
  color: rgb(8, 148, 101);
}

.sign input[type='text'] {
  background: url(../../assets/icons/elections.ico) no-repeat scroll 8px 9px #fff;
  padding-left: 39px;
}

.sign input[type='password'] {
  background: url(../../assets/icons/password.ico) no-repeat scroll 8px 9px #fff;
  padding-left: 45px;
}

.sign input[type='email'] {
  background: url(../../assets/icons/email.ico) no-repeat scroll 8px 9px #fff;
  padding-left: 45px;
}

@media screen and (min-width: 480px) {
  .mw {
    max-width: 32rem;
  }
}
