.circles img {
  max-width: 12rem;
}

/* The Modal (background) */
.ballot {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  margin-top: 7em;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(63, 150, 117);
}

/* Modal Content */
.ballot-content {
  mix-blend-mode: overlay;
}
