/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  margin-top: 7em;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(63, 150, 117);
}

.search input[type='text'] {
  background: url(../../assets/icons/search_32.png) no-repeat scroll 8px 9px #fff;
  padding-left: 39px;
  border: 1px darkgray;
}

select {
  border: none;
  height: 3em;
}

p {
  color: #333;
}

/* Modal Content */
.modal-content {
  mix-blend-mode: overlay;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 38px;
  font-weight: bold;
  margin-top: -3em;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.cf article {
  max-width: 33em;
  margin-left: 2em;
}

.cf img {
  max-height: 436px;
  float: left;
}
