.topbar {
  box-shadow: 0 4px 8px 0 #0003;
}

.logo {
  min-width: 3em;
}

.link,
p {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: #fff;
}

.menu,
.hmb {
  display: inline-block;
}

.menu:hover,
.menu:active {
  background-color: rgb(8, 148, 101);
  color: #fff;
}

.main {
  right: 2em;
}

.hmb:active,
.hmb:hover {
  background-color: transparent;
}

.hmbMenu {
  right: 0;
  font-size: 16px;
  margin-top: 4.8rem;
  padding: 0;
  width: 150px;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}

.child {
  margin-top: 5em;
}

.hmbMenu .link:active,
.hmbMenu .link:hover:not(.active) {
  color: #fff;
  background-color: rgb(8, 148, 101);
}

@media screen and (max-width: 600px) {
  .main {
    display: none;
  }
}
