
footer {
  
   color: #009688;
  font-size: 1rem;
  text-align: center;
}

/* Style the links inside the navigation bar */
.footer a {

  text-align: center;
  color: #009688;
  font-size: 1.25rem;
  text-decoration: none;

}


/* Change the color of links on hover */
.footer a:hover {

  color: black;
}
.icons {
	max-width: 6%;
	padding:16px;
}
.spring{
 color: rgb(9, 179, 114);
}